.DS_Store
node_modules
/build
/.svelte-kit
/package
target/
Cargo.lock
.env
.env.*
.DS_Store
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/.vite

# Local Netlify folder
.netlify
