@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply font-medium rounded-lg text-white bg-[#408cb8] bg-opacity-25 text-base outline-none py-3 px-5;
    }
}

/* metropolis-latin-600-normal */
@font-face {
    font-family: "Metropolis";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src:
        url(https://cdn.jsdelivr.net/fontsource/fonts/metropolis@latest/latin-600-normal.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/fontsource/fonts/metropolis@latest/latin-600-normal.woff)
            format("woff");
}

/* metropolis-latin-700-normal */
@font-face {
    font-family: "Metropolis";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src:
        url(https://cdn.jsdelivr.net/fontsource/fonts/metropolis@latest/latin-700-normal.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/fontsource/fonts/metropolis@latest/latin-700-normal.woff)
            format("woff");
}

:root {
    font-family: Inter;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;

    margin: 0;

    background-color: #111620;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
